* {
	--ansi-background: rgb(43, 43, 43);
	--ansi-white: rgb(255, 255, 255);
	--ansi-gray: rgb(169, 183, 198);
	--ansi-black: rgb(85, 85, 85);
	--ansi-red: rgb(255, 107, 104); 
	--ansi-green: rgb(109, 168, 36);
	--ansi-orange: rgb(255, 165, 104);
	--ansi-yellow: rgb(214, 191, 85);
	--ansi-blue: rgb(83, 148, 236);
	--ansi-magenta: rgb(174, 138, 190);
	--ansi-cyan: rgb(41, 136, 118);
    
    --log-time: var(--ansi-gray);
	--log-info: var(--ansi-gray);
	--log-warn: var(--ansi-magenta);	
	--log-err: var(--ansi-red);	
	--log-chat: var(--ansi-yellow);
	--log-client: var(--ansi-black);
    
    
    --toolbar-height: 25px;
	--panel-background: rgb(32, 32, 32);
    --panel-background-odd: rgb(22, 22, 22);
    
    --right-width: 860px;
}

body
{
	background: var(--ansi-background);
    padding: 0;
    margin: 0;
}

button
{
    cursor: pointer;
}

.toolbar
{
    height: var(--toolbar-height);
    background: black;
}

.toolbar button, .toolbar input
{
    height: var(--toolbar-height);
    position: relative;
    float: left;
    padding: 0 10;
}

.toolbar button.right
{
    float: right;
}

.panel
{
    height: calc(100% - var(--toolbar-height));
}

.panel#left 
{
    width: calc(100% - var(--right-width));
    float: left;
}

.panel#right
{
    background: var(--panel-background-odd);
    float: right;
    width:  var(--right-width);
}

.logwrapper 
{ 
    height: calc(100%);
    overflow-y: auto;
}
.log tr { color: var(--log-info);font-family: monospace; }
.log tr#info { color: var(--log-info); }
.log tr#warn { color: var(--log-warn); }
.log tr#erro { color: var(--log-err); }
.log tr#chat { color: var(--log-chat); }
.log tr#client { color: var(--log-client); }

.log td.author {
    text-align: right;
    border-right: 2px solid var(--ansi-black);
    border-radius: 4px;
    padding-right: 5px;
    background: #ffffff05;
    width: 150px;
}
.log td.content {
    padding-left:  4px;
}
.log td.time {
    width: 85px;
    color: var(--log-time);
}

.stats
{
    width: 100%;
    height: 250px;
    color: black;
}

.playerlist {  overflow:hidden; border-collapse: collapse; color: white; font-family: monospace; }
.playerlist td { text-align: center; padding: 3px; }
.playerlist tr { border: 1px solid transparent; }
.playerlist tr:nth-child(odd) { background: var(--panel-background); }

.playerlist td span {
    display: block;
}


tr.strikeout  { border: 1px solid red; text-decoration-line: line-through; }
tr.highlight  {border-bottom: 1px solid gold !important;background: var(--ansi-black) !important;}


.playerlist td#connection { width: 50px; }
.playerlist td#location { width: 180px; }
.playerlist td#ID { width: 200px; }
.playerlist td span#top {}
.playerlist td span#bottom {
    color: gray;
}
.playerlist .admin #account {
    color: var(--ansi-cyan);
}
.players {
    height: calc(100% - 250px);
    overflow-y: auto;
}

.starboundtext span {
    display: inline !important;
}

input#timeout {
    margin-top: 10px;
    width: 100%;
}

button 
{
    border: none;
    outline: none;
    color: white;
    background: none;
    border-bottom: 1px solid var(--ansi-black);
}
button:hover
{
    color: white;
    background: var(--ansi-black);
    border-bottom: 1px solid var(--ansi-white);
}

button:focus { outline: none; }
.button-off {}
.button-on 
{
    border-bottom: 1px solid var(--ansi-red);
}

.log td.author.highlight {background: var(--ansi-black);}